   @media(max-width: 1024px) {
    .container .row1{
       padding:20px;
    }

    .container .row2{
       padding:20px;
    }
    }
    @media(max-width: 768px) {
    .container .row1{
       padding:10px;
    }

    
    }
  @media(max-width: 600px) {
    .container .row1{
        height: 300px;
        
    
    }
    .container .row1>.row1_information{
      
        font-size:20px;
        
    
    }
    @media(max-width: 480px) {
        .container .row1{
            height: 200px;
    
    }
    .container .row1 .row1_information{
       
        font-size:16px;
        
    
    }
    
    }
    @media(max-width:320px) {
        .container .row1{
            height: 100px;
    
    }
   .scroll_horizontal{
         
    font-size:10px;
    }
    .container .row1>.row1_information{
       
        font-size:10px;
        
    
    }
    .container .row1 .row1_information>.choos{
       
        height: 15px;
        width: 15px;
       
   
   }
   .container .row1 .row1_information>.choosw{
       
       height: 15px;
       width: 15px;
      
  
  }
    
    }
 }
     /*search*/
     .box_search{
        display: flex;
        align-items: center;
        border-radius: 50px;
        background-color: #D9D9D9;
        padding: 10px 15px;
        margin: 0 10px;
        
     }
     .ic_search{
        width: 30px;
        height: 30px;
      
    
     }
     .ic_search>img{
        width: 100%;height: 100%;
     }
     .ip_seach{
        width: 100%;
        margin-left: 10px;
        
     }
     .ip_seach>input{
        font-size: 20px;
        color: #ffffff;
        width: 100%;
        height:35px;
      
     }
     /* <!--scroll_horizontal--->*/
     .scroll_horizontal{
        
        
        margin: 10px;
        display: flex;
       
     }
     .scr_item11{
        
        background:#CBF15C;
        display:inline-block;
        padding: 10px 5px;
        position : relative;
    }
    .scr_item11:before {
        content: "";
        background-color: #1F6827;
       
        width: 80%;
        height: 4px;
        position: absolute;
        top: 82%;
        margin-left: 10px;
      
       
        }
     .scr_item1{
   
        background:#D9D9D9;
        display:inline-block;
        padding: 10px 5px;
        position : relative;
        margin-left: 10px;
       
    }
    /*main*/
    .main{
        width : 100%;
       
        margin-bottom: calc( 500px -10px)
      
    }
  
    .main_box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       

    }
    .row1{
        width :40%;
        height : 400px;
        background:#D9D9D9;
        margin-left: 5px;
        margin-bottom: 5px;
        padding: 45px ;
       
        
     

        
    }
    .row2{
        width: 100%;
        height:100%;
        background:#ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row1_img{
        
        width: 100%;
        height: 80%;
        
       
    }
    .row1_img2{
        background:#D9D9D9;
        padding:20px;
        width: 100px;
        height: 100px;
       
    }
    .row1_img2>img{
        width: 100%;
    height: 100%;
       
    }
     .row1_img>img{
    width: 100%;
    height: 100%;
    }
    .row1_information{
        font-size:30px;
        margin-top:10px;
        display: flex;
        justify-content: space-between
    }
    .choos{
        width: 30px;
        height: 30px;
        background:greenyellow;
    }
  
    .choosw{
        width: 30px;
        height: 30px;
        background:#D9D9D9;
        
       
    }
    .choosw>img{
        width: 100%;
        height: 100%;
    }
    .row1_push{
        width: 100%;
        height: 100%;
      
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .row1_push--img{
        width: 70px;
        height: 70px;
        background:#D9D9D9;
    }
    .row1_push--img>img{
        width: 100%;
        height: 100%;
      
    }
    /*+++++++++++*/
    .footer{
        background: white;
        margin-top:-5px;
    }
    .menu_footer{
        padding:20px;
        display: flex;
        justify-content:flex-end;
    }
    .menu_1{
        background:#D9D9D9;
        padding: 10px 20px;
    }